<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="URL Statistics">
    <meta name="author" content="Alex Kinney">
    <meta name="keywords" content="URL, Shortener, Stats, Analytics, Links">
    <meta name="robots" content="index, follow">
    <title> <%= title %> </title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>